<div class="form bord">

    <h1 class="header">Forgot Password</h1>
  <hr>
    <form [formGroup]="forgotPassword" (ngSubmit)=" submitFn()">
 
      <div class="mb-3">
  
        <label for="email" class="form-label" >Email</label>
  
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" [ngClass]="{error : getControl('email')?.errors && getControl('email')?.touched}">
  
        <div class="alert alert-danger" *ngIf=" (isSubmitted ||getControl('email')?.touched) && getControl('email')?.errors">
          <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email field is requird</small>
          <small class="text-danger" *ngIf="getControl('email')?.errors?.['maxlength']">Email should be maximum 32 characters long.</small>
          <small class="text-danger" *ngIf="getControl('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
     
  
      <div class="mb-3">
        <button type="submit" value="submit" class="btn btn-success center" id="btn" >Submit</button>
      </div>
  


      <p>not Registered 
    <a routerLink="/register" routerLinkActive="active" >Register</a></p>
  
    </form>
    </div>
  
  
