

<div class="form bord">

    <h1 class="header">Login Form</h1>
  <hr>
    <form [formGroup]="loginForm" (ngSubmit)=" submitFn()">
 
      <div class="mb-3">
  
        <label for="email" class="form-label" >Email</label>
  
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" [ngClass]="{error : getControl('email')?.errors && getControl('email')?.touched}">
  
        <div class="alert alert-danger" *ngIf=" (isSubmitted ||getControl('email')?.touched) && getControl('email')?.errors">
          <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email field is requird</small>
          <small class="text-danger" *ngIf="getControl('email')?.errors?.['maxlength']">Email should be maximum 32 characters long.</small>
          <small class="text-danger" *ngIf="getControl('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
     
      <div class="mb-3">
  
        <label for="password" class="form-label">Password</label>
  
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" [ngClass]="{error : getControl('password')?.errors && getControl('password')?.touched}">
  
        <div class="alert alert-danger" *ngIf=" ( isSubmitted || getControl('password')?.touched )&& getControl('password')?.errors">
          <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">Password field is requird</small>
          <small class="text-danger" *ngIf="getControl('password')?.errors?.['minlength'] || getControl('password')?.errors?.['maxlength']">Password should be minimum 5 and maximum 32 characters long.</small>
        </div>
  
      </div>
  
      <div class="mb-3">
        <button type="submit" value="submit" class="btn btn-success center" id="btn" >Submit</button>
      </div>
  


      <p>Not Registered 
    <a routerLink="/register" routerLinkActive="active" >Register</a></p>
    <p> 
      <a routerLink="/forgotPassword" routerLinkActive="active" ariaCurrentWhenActive="page">Forgot Password</a></p>
  


      <div class="row mt-2">
        <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
            <div class="card shadow text-center">
                <div class="card-body text-danger">
                    <img src="https://play-lh.googleusercontent.com/6UgEjh8Xuts4nwdWzTnWH8QtLuHqRMUB7dp24JYVE2xcYzq4HA8hFfcAbU-R-PC_9uA1" alt="login with Google" height="24px" width="24px" class="text-dark"> Sign In with Google
                </div>
            </div>
        </a>
    </div>
    </form>
  
  </div>
  
  
  
