/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Success */
.snackbar-success {
  background-color: #28a745;
  color: white;
}

/* Warning */
.snackbar-warning {
  background-color: #ffc107;
  color: black;
}

/* Error */
.snackbar-error {
  background-color: #dc3545;
  color: white;
}

/* Info */
.snackbar-info {
  background-color: #17a2b8;
  color: white;
}

.mat-simple-snackbar-action {
  color: white;
}

::ng-deep #mat-select-0-panel {
  min-width: unset !important;
}
